/* TREVOR DAVID BLACK
 * trevord.black
 * Created: 2020-07-07
 * Last Modified: 2020-07-07
*/

body {
  margin: 0px auto;
  width: 1080px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-family: arial;
}

#wrap {
  margin: 20px auto;
  max-width: 1080px;
}

.nav {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 45px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-family: arial;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.nav a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  border-bottom: none;
  font-size: 14px;
  font-weight: bold;
}
.nav a:hover {
  text-decoration: underline;
}
.nav ul {
  list-style-type: none;
  padding: 0;
}
.nav ul li {
  display: inline;
  margin-right: 20px;
}

#article {
  margin: 40px auto;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-family: arial;
  margin: 30px auto;
}

#article p {
  line-height: 1.2em;
  margin: 0;
  margin-left: 0px;
}

#article a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
}
#article a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.4em;
  margin: 20px 0px;
}
h1 {
  font-size: 20px;
  font-family: -apple-system, helvetica, arial, sans-serif;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

@media screen and (max-width: 1080px) {
  body {
    width: 100%;
  }
  #text{
    margin: 0 7px;
  }
}
